<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">

  <meta name="author" content="Mediumrare">

  <meta name="keywords" content="한우, 한우 테스트, 한우 부위, 횡성한우, 횡성한우 성격유형, 성격유형 검사">
  <meta name="description" content="횡성한우 성격유형 검사 : 나와 어울리는 한우 부위는?">

  <meta property="og:type" content="website">
  <meta property="og:title" content="횡성한우 성격유형 검사">
  <meta property="og:description" content="내 성격과 어울리는 한우 부위는 어딜까?">
  <meta property="og:image" content="static/img/og-logo2.jpg">
  <meta property="og:url" content="https://ibb.co/VQmJFPB">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" type="text/css" href="static/img/favicon.png">
  <link rel="appel-touch-icon-precomposed" href="static/img/favicon.png">
  <title>
    횡성한우 성격유형 검사
  </title>
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/animation.css">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/css/header+footer.css">
  <link rel="stylesheet" href="static/css/welcome.css">
  <link rel="stylesheet" href="static/css/qna.css">
  <link rel="stylesheet" href="static/css/calc.css">
  <link rel="stylesheet" href="static/css/result.css">
  
  <!--[if lt ie 11]> 
    <script>
      alert('IE 11 미만 브라우저에서는 정상적으로 동작하지 않습니다.\n다른 브라우저(크롬, 파이어폭스 등)를 이용해주세요.');
    </script>
  <![endif]-->
</head>

<body>
  <script src="static/js/kakao.min.js"></script>
  
  <div id="wrap">
    <!--
    <header id="header">
      <button class="logo head" onclick=javascript:switchMode()></button>
    </header>
  -->
    <section id="welcome" class="container">
      <div id="title-box">
        <h1 class="title">
          <img src="static/img/main-상단.png">
        </h1>
        
<!--        <p class="sec-tit">
        </p>

        <span class="time-logo"></span>
        <div>소요 시간 : 3분 내외</div>-->
      </div>

      <div class="start-wrap">
        <button class="start">나와 닮은 부위 찾기 시작 > </button>
      </div>
    </section>
    <section id="qna" class="container">
      <div class="q box"></div>
      <div class="answer" role="group"></div>
      <div class="status-bar">
        <div class="status"></div>
      </div>
    </section>
    <section id="calc">
      <div class="calc-bar">
        <div class="calc"></div>
      </div>
      <p class="wait">잠시 기다려주세요...</p>
    </section>
    <section id="result" class="container">
      <div id="desc-box">
        <div class="art"></div>
        </span>
      </div>
      
      <button onclick=javascript:copy() class="btn">30% 할인 받기</button>
      <p>친구들과 공유하기</p>
      
      <div id="share-box">
        <a id="create-kakao-link-btn" href="javascript:;">
          <span class='kt' onclick=on_click()></span>
          <script>
            function on_click(){
              document.getElementsByClassName('kt')[0].style.backgroundImage = "url('../static/img/kakaotalk_1.png')";
            }
          </script>
        </a>
        </span>
        <a onclick=javascript:tw() target="_blank" alt="Share on Twitter" title="트위터에 공유하기">
          <span class="tw"></span>
        </a>
        <a onclick=javascript:fb() target="_blank" alt="Share on Facebook" title="페이스북에 공유하기">
          <span class="fb"></span>
        </a>
        <a onclick=javascript:nv() target="_blank" alt="Share on Naver" title="네이버에 공유하기">
          <span class="nv"></span>
        </a>
       
      
      </div>
      
      

    </section>
    <footer id="footer">
      <div>
        <span class="highlight">횡성한우축제</span>
        © 2020
        <br><br>
        origin auth : Dain Kim<br>
        origin repo : https://github.com/dev-dain/10-things-test
      </div>

    </footer>
  </div>
  <script src="static/js/data.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/share.js"></script>
 

  <script type="text/javascript">
    
    Kakao.init('f1cb9729c35cce59b5df9fbf23d70629');
    Kakao.Link.createDefaultButton({
      
      container: '#create-kakao-link-btn',
      objectType: 'feed',
      content: {
        title: '나와 어울리는 한우 부위는?',
        description: '#횡성한우축제 #횡성한우성격유형검사 #성격유형검사 #한우성격유형',
        imageUrl:
        'https://ibb.co/VQmJFPB',
        link: {
          mobileWebUrl: 'https://developers.kakao.com',
          webUrl: 'https://developers.kakao.com',
        },
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845,
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com',
          },
        },
        {
          title: '앱으로 보기',
          link: {
            mobileWebUrl: 'https://developers.kakao.com',
            webUrl: 'https://developers.kakao.com',
          },
        },
      ],
    })
  </script>
  
</body>

</html>